body {
	background: url('../../img/home_background.jpg') no-repeat;
	background-size: cover;
}

/*HEADER*/
a.navbar-brand { padding: 3px 25px 0 15px; }

ul.nav {	font-size: 1.6em;  }

button#registrar {	margin-left: 15px;  }

/*MAIN*/
div#main { margin-bottom: 40px; }

h1#promocoes {
	text-align: center; 
	color: white;
}

button.encomendar {
	background-color: black;
	color: white;
}

button.encomendar:hover {
	background-color: grey;
	color: white;
}

.panel {
	border-radius: 0;
}
a.link-produto {
	color: black;
}
a.link-produto:hover > div {
	opacity: 0.8;
}
a.link-produto:hover {
	color: grey;
	text-decoration: none;
}
.panel-footer {
	text-align: center;
	font-size: 1.3em;
}
/*FOOTER*/
#footer {
	background-color: black; 
	color: white; 
	font-size: 1.8em;
	padding-top: 30px;
}
