a.none{
    color: white;
    text-decoration: none;
}
a.none:visited {
    color: white;
    text-decoration: none;
}
a.none:hover {
    color: white;
    text-decoration: none;
}
a.none:active {
    color: white;
    text-decoration: none;
}

.sqare{
  width: 40px;
  height: 40px;
  background-color: grey;
}

.position-fixed{
  z-index: 1000;
}

.mt-6{
  margin-top: 100px;
}

.w-2{
  width: 70px !important;
}

.price-font{
  font-size: 1.5rem;
}
