a.none{
    color: white;
    text-decoration: none;
}
a.none:visited {
    color: white;
    text-decoration: none;
}
a.none:hover {
    color: white;
    text-decoration: none;
}
a.none:active {
    color: white;
    text-decoration: none;
}

.sqare{
  width: 40px;
  height: 40px;
  background-color: grey;
}

.position-fixed{
  z-index: 10;
}

.zindex-100{
  z-index: 100;
}

.mt-6{
  margin-top: 100px;
}

.w-2{
  width: 70px !important;
}

.price-font{
  font-size: 1.5rem;
}

ul.categoria {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.categoria {
    float: left;
}

li a.categoria {
    display: block;
    color: grey;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a.categoria:hover {
    color: black;
}

.carrinho{
  float: right;
}
